---
import Buttons from "../components/Buttons.astro"
const Hero = Astro;
---

<div class="h-[100vh] w-full bg-[#212121] flex justify-center items-center">
    <!-- <div class="hidden md:flex absolute top-24 left-24">
		<img class="w-64 h-auto border-2 border-white rounded-full" src="https://avatars.githubusercontent.com/u/36575409?v=4" alt="GitHub Icon">
    </div> -->

    <div class="p-4">
        <h1 class="text-4xl font-bold italic">Hello, Welcome to my site!</h1>
        <p>Click here to see my <Buttons text="Resume" /></p>
    </div>
</div>
